
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the entire page */
  padding: 20px;
  background-color: #f0f2f5; /* Light grey background */
}

.coverPhoto {
  width: 100%;
  height: 200px;
  background-color: #2e7d32; /* Dark green */
}

.profileInfo {
  display: flex;
  align-items: center;
  margin-top: -50px;
  padding: 1rem;
  background-color: #fff;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 1rem;
}

.profileDetails {
  flex-grow: 1;
}

.profileContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2rem;
}

.posts {
  flex-grow: 2;
  margin-right: 2rem;
}

.post {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friendsList {
  width: 200px;
  background-color: #f1f8e9; /* Light green background */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friendsList h2 {
  font-size: 1.5rem;
  color: #2e7d32; /* Dark green */
}

.friendsList ul {
  list-style-type: none;
  padding: 0;
}

.friendsList li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #2e7d32; /* Dark green */
}